<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
   <form method="get" action="/quizes/answer">
       Pregunta: <%= pregunta %> <p/>
       <input type="text" name="respuesta" value="Responda Aqui" />
       <input type="submit" value="Enviar" />
   </form>
    
</body>
</html>